<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redink">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/queensplash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/queensplash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ThankyouPage"
            android:parentActivityName=".MainActivityStore"/>
        <activity
            android:name=".HistoryOrders"
            android:parentActivityName=".MainActivityStore" />
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".MainActivityStore" />
        <activity
            android:name=".RateApp"
            android:parentActivityName=".MainActivityStore" />
        <activity
            android:name=".HelpUser"
            android:parentActivityName=".MainActivityStore" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".MainActivityStore" />
        <activity
            android:name=".FinalizedShoppingActivity"
            android:parentActivityName=".MainActivityStore" />
        <activity
            android:name=".CartProductsActivity"
            android:parentActivityName=".MainActivityStore" />
        <activity
            android:name=".FetchCProductActivity"
            android:parentActivityName=".CreateAccount" />
        <activity
            android:name=".Category"
            android:parentActivityName=".MainActivityStore" />
        <activity android:name=".MainActivityStore" />
        <activity
            android:name=".CreateAccount"
            android:parentActivityName=".LoginActivityStore" />
        <activity android:name=".LoginActivityStore" />
        <activity
            android:name=".ForgotPassword"
            android:parentActivityName=".LoginActivityStore" />
        <activity
            android:name=".ResetPassword"
            android:parentActivityName=".LoginActivityStore" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>